html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* 

.column {
  display: flex;
  flex-direction: column;
} */

.placeholder-desc {
  position: absolute;
  font-size: 13px;
  font-weight: 400;
  color: #7d8798;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  z-index: 999;
  transform: translateY(74px);
}
