html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#netless {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #ececf1;
  border-radius: 4px;
}

.filename {
  @apply text-white font-medium;
  font-size: 12px;
  margin-bottom: 5px;
  /* text-shadow: 0 1px 2px rgb(13 29 61 / 80%); */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 71px;
}

.video-marquee-pin {
  position: absolute;
  height: 165px;
  width: 100%;
}

.video-marquee-pin ~ .board-box {
  margin-top: 165px;
}

.board-box {
  position: relative;
  height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
}

.fullscreen .layout-aside {
  border: none;
  min-width: 35px;
}

.fullscreen .video-player {
  display: none;
}

.fullscreen .video-marquee-pin ~ .board-box {
  margin-top: 0px;
}

.placeholder-desc {
  position: absolute;
  font-size: 13px;
  font-weight: 400;
  color: #7d8798;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  z-index: 999;
  transform: translateY(74px);
}
